.divcard{
    width: fit-content;
    height: fit-content;
}
.contenedorcardsplanets{
    display:flex;
    overflow-x: auto;
    width: auto;
    min-height: 500px;
    
    white-space: nowrap;
}

.contenedorcardscharacter{
    display:flex;
    overflow-x: auto;
    width: auto;
    min-height: 700px;
    
    white-space: nowrap;
}